body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    background: #c1d0f0;
    justify-content: center;
}

.nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav a{
    color: #2c3e50;
    text-decoration: none;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

h1{
    color: rgb(59, 125, 184);
}
h2{
    margin-bottom: 50px;
}

.form-container{
    display: flex;
    flex-direction: column;

    background: white;
    box-shadow: 0 0 10px black;

    padding: 20px;
    border-radius: 10px;
    
    text-align: left;
}

.form-container label{
    font-weight: bold;
}

.form-container input{ 
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    background-color: rgb(144, 148, 151);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(53, 121, 121);
    color: white;
}

#resultado{
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color: green;
}